<div class="pw-stage">
  <div class="reveal in">
    <div class="pw-brand">Cyberian <span class="light">Studio</span></div>
    <p class="pw-sub">Opening Soon</p>

    {% form 'storefront_password', class: 'pw-form' %}
      <input type="password" name="password" placeholder="ENTER PASSWORD" aria-label="Password" required>
      <button type="submit" class="btn btn-primary">Enter <span class="arrow">&rarr;</span></button>
      {%- if form.errors -%}
        <p class="pw-error">{{ form.errors.translated_fields.password | capitalize }} {{ form.errors.messages.password }}</p>
      {%- endif -%}
    {% endform %}
  </div>
</div>

{% schema %}
{ "name": "Password", "settings": [] }
{% endschema %}
